/* @override 
	http://localhost:8888/patheoslabs-web/foundation-5/css/app.css */


/* ==========================================================================
   General Styles
   ========================================================================== */

html,body,#page{width: 100%;height: 100%;margin: 0px;padding: 0px;}
html{-webkit-font-smoothing: antialiased;}
body {background: #000; font-family: 'Museo Sans', museo-sans, 'Helvetica Neue', Arial, sans-serif;line-height: 1.2em; font-weight: 100;
}   
h1,h2,h3,h4,h5,h6{color: #00ADEE;letter-spacing: -0.04em;font-weight: 100; font-family: 'Museo Sans', museo-sans, Helvetica, Arial, sans-serif;}

a{cursor:pointer;}
p{font-size: 1.5em;line-height: 1.5625;color: #fff;
}
select{color: white;padding: 0 1em; height: 2.4em;outline: none;border: 0;border-radius: 0 !important;background: url('../images/arrow-down.png') no-repeat right 0.8em #f4594e;-webkit-appearance: none;}

/* Helpers */

.text-right{text-align: right;}
.intro{margin-bottom: 3.125em;text-align: center;}
.fixed{position:fixed;top:-60px;}
.smooth,.smooth img{-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}

.center-list ul{position: relative;left: 50%;display: block;float: left;overflow:visible;}
.center-list ul li {position: relative;right: 50%;float: left;}

/* ==========================================================================
   Header Styles
   ========================================================================== */

#header{overflow:hidden;height:auto;
	background: #000 url(../img/photo-exploder.jpg) top center no-repeat; background-size: 50%; }
.no-touch #header{-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;background-attachment: fixed;}

#logo{}
#logo img{width:200px;}
   
/* Intro Styles */
   
#intro{margin-top: 9em;margin-bottom: 8em;text-align: center;}  
#intro h1{margin-top: 0.5em;margin-bottom: .1em;color: #fff;font-size: 1.6em;opacity:1;padding-top: 0em;text-transform: uppercase; line-height: 1em;
}
#intro h2{margin-bottom: 0;font-size: 1.8em;opacity:0;padding-top: 2em;color: #2B494F;
	text-align: left; 	letter-spacing: -.04em;
	
}
#intro p{color:#27221B;
	text-align: left; font-weight: bold; font-size: 1.5em;
	letter-spacing: -.08em;
}
#intro a{

	display: inline-block;
	text-decoration: none;
	color: #fff;
	margin: 1em 2em;
	text-transform: uppercase;
}
#intro a:hover{opacity: .7; transition: all 0.5s ease;}


#explore{opacity:0;margin-top: 0em;}
#explore a{ margin:0 auto;color:white;cursor:pointer;position:absolute;margin-left: -25px;left:50%}
#explore a img{height:50px;opacity:0.5;}
.touch #explore a img,.no-touch #explore:hover a img{opacity:1;}

.intro-icons img {
	width: 6em;
	height: 4em;
	display: block;
	clear: both;
	margin-bottom: .5em;
}

#getstarted a {
	display: block;
	width: 10em;
	font-size: 1.3em;
	padding: .8em;
	margin: 3em auto;
	background-color: rgba(0, 173, 238, 0.59);
	border-radius: .3em;
	color: #fff;
	
}

#getstarted a:hover {
	background-color: #00ADEE;
	color: #fff;
	opacity: 1;
}

#website-icon {
	
}


/* ==========================================================================
   Navigation Styles
   ========================================================================== */
#contact-icons img {
	height: .8em;
	margin-top: 2.5em;
	margin-right: 1em;
}



#top-bar{top:-55px;z-index: 999;width:100%;height:auto;}

#top-bar .large-4 div {
	margin-left: auto;
	margin-right: auto;
}
#top-navigation ul{display:none;font-size: 1.5em;margin-bottom: 0.75em;}
#top-navigation li{width:100%; margin-top: 1.2em; font-size: .8em; text-transform: uppercase; 
}
#top-navigation img {
	width: 1.5em;
	position: relative;
	top: -.35em;
}

#top-navigation li a{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
#top-navigation li:not(active) a{color:#00ADEE;}
#top-navigation li.active a, #top-navigation li:hover a{color:#fff;}

#logo-lettering img{height: 50%; width: 210px; 
} 
#logo-lettering {margin-top: .6em; width: 160px;
	margin-bottom: .4em;
}

#menu-mobile{position:absolute;top:15px;right:15px; width:20px;height:20px;background-image:url("../images/menu.svg");background-size:20px;background-repeat:no-repeat;cursor:pointer;}
#menu-mobile:hover,#menu-mobile.active{background-image:url("../images/menu-hover.svg");}

/* ==========================================================================
   All Section Styles
   ========================================================================== */
   
section{padding-top: 3.125em;padding-bottom: 1.875em;text-align: center;}

.intro p{margin-bottom: 1em; text-align: left;  

}  

/* ==========================================================================
   Team Styles
   ========================================================================== */

.member{margin-bottom: 2em;min-height: 230px;}
.member:last-child{margin-bottom: 0em;}
.member h5{margin-top: 1em;margin-bottom: 0;font-size: 1.125em;}
.member p{margin-bottom: 0;font-size: 0.75em;}

.member-photo{position:relative; overflow: hidden; margin-bottom: 1.8em;background: #000;}
.member-photo img{display:block;margin: 0 auto;}

.member-hover{position: absolute;top: 0;right: 0;width: 100%;height: 100%;background-color: rgb(244,89,78);background-color: rgba(244,89,78,0);-webkit-transition: background-color 0.4s ease-in-out;-moz-transition: background-color 0.4s ease-in-out;-o-transition: background-color 0.4s ease-in-out;transition: background-color 0.4s ease-in-out;}

/* Social List */

.member .list-container{position:relative;display:table;margin:0 auto;height:100%;opacity:0;-webkit-transition: opacity 0.4s ease-in-out;-moz-transition: opacity 0.4s ease-in-out;-o-transition: opacity 0.4s ease-in-out;transition: opacity 0.4s ease-in-out;}
ul.social{display:table-cell;margin: 0;padding: 0;vertical-align:middle;text-align:center;}
ul.social li{display:inline-block;margin:0 0.5em;margin-left: 0;}
ul.social li a{margin-right: 1.5em;
}
ul.social img{width:auto;}


.image-hover{display:none;}

/* Adjusts for Mobile Version - social icons outside hover */
.member .list-container.show-for-small{opacity:1;}
.member .list-container.show-for-small ul.social{display: table;margin: 0 auto; margin-top: 1em;}

/* Animations */
.member-photo:hover .member-hover{background-color: rgba(244,89,78,0.5);}
.member-photo:hover .list-container{opacity:0.9;}

/* Team Images Change Hover */
.member-photo:hover .image{display:none;}
.member-photo:hover .image-hover{display:inherit;}

/* ==========================================================================
   Studio Styles
   ========================================================================== */
section#about{padding-bottom: 0;overflow:hidden;}
#about, #samples, #works {background:#000; border-top: 1px solid #333;
}	
 
/* ==========================================================================
   Work Styles
   ========================================================================== */
   
#works{padding-bottom: 5.3em;background-color: #013448;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(1, 52, 72)), to(rgb(1, 32, 46)));
background-image: -webkit-linear-gradient(top, rgb(1, 52, 72), rgb(1, 32, 46));
background-image: -moz-linear-gradient(top, rgb(1, 52, 72), rgb(1, 32, 46));
background-image: -o-linear-gradient(top, rgb(1, 52, 72), rgb(1, 32, 46));
background-image: -ms-linear-gradient(top, rgb(1, 52, 72), rgb(1, 32, 46));
background-image: linear-gradient(top, rgb(1, 52, 72), rgb(1, 32, 46));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#013448', EndColorStr='#01202e');
}
#works .intro{margin-bottom:1.5em;}

.work {position:relative;margin-bottom: 1.5em;display: inline-block;
}
.work img {
	height: 2.4em; margin: 0 1em;
}

#work-filter{margin:0;margin-bottom: 0.5em;font-weight: bold;font-size: 1.3125em;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
#work-filter li{cursor:pointer;}
#work-filter li.active, #work-filter li:hover{color:#f4594e;}

#works select{margin-bottom: 1em;}

.work-info{position:absolute;bottom:-2.5em;width:100%;height:2.5em;background-color: white;-webkit-transition: bottom 0.3s ease-in-out;-moz-transition: bottom 0.3s ease-in-out;-o-transition: bottom 0.3s ease-in-out;transition: bottom 0.3s ease-in-out;}
.work-info h6{margin-top: 0;padding-top: 0.5em;}

.no-touch .work:hover img, .touch .work img{top: -2.5em;-webkit-filter: grayscale(0%);filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");}
.no-touch .work:hover .work-info, .touch .work .work-info{bottom:0;}
/*
/* MixUp Filtering *!/
#work-container .mix{display: none;opacity: 0;}
#work-container [class*="column"] + [class*="column"]:last-child {float: left;}
*/

/* ==========================================================================
   Contact Styles
   ========================================================================== */

input{color:#666666;font-weight: normal;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #666666;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #666666;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #666666;
   }
   
input[type="text"],input[type="email"]{margin-bottom: 15px;height:40px;}
textarea{height:60px; resize: none;}	
input[type="text"], textarea,input[type="email"]{padding:1em;width: 100%;outline: none;border: none;-webkit-border-radius:0px;box-shadow: none; color: #000; background: #AAAAAA;}
input[type="text"]:focus, textarea:focus,input[type="email"]:focus{background: #e6e6e6; -webkit-transition: all 0.15s linear; -moz-transition: all 0.15s linear; transition: all 0.15s linear;}

button.button{ float: right; margin-bottom: 0;border:none;}
#contacts button, input#mc-embedded-subscribe {width:100%; font-family: 'Museo Sans', museo-sans, sans-serif;background-color: rgba(0, 173, 238, 0.39);
border-radius: .3em; -webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;
}

#contacts button:hover {
	background-color: #00ADEE;
	color: #fff;
	opacity: 1;
}
formContainer{position: relative;}

#submit{margin-bottom: 15px;}

span.error,span.valid{position: absolute;top:0; right: 1em;}
span.error, span.valid{ width:40px;height:40px; background-position:center center;background-size:20px; background-repeat: no-repeat;}
span.error{background-image:url("../images/notifications/error.svg");}
span.valid{background-image:url("../images/notifications/valid.svg");}

.alert-box{display:none;border: 0;background-color:#fe3333;}
.alert-box.success{background-color:#22b573;}

/* Each Contact Info */

.contact{margin-bottom: 1em;}

.contact-info img{padding: 10px 0;height:60px;}
.contact-info img.mail{margin-top: 7.5px;height:45px;}

.contact-info {margin-bottom: 3em;}
.contact-info p{margin-bottom: 0;font-size: 0.8em;}
.contact-label{color:#AA0008;font-size: 1.5em;font-family: 'Museo Sans', museo-sans, sans-serif;}


/* Social Footer */
.social img {
	height: 1em;
}

#contact-form {
	margin-bottom: 3em;
}

footer{padding-bottom: 3.75em; background-color:#B3B3B3;}
footer ul.social{margin-top:1em;}
footer ul.social li a {width: 1.5em;height: 1.5em;background-size: 1.5em;opacity: 0.5;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
footer ul.social li a:hover {opacity: 1;}

#contacts h4 {
	font-size: 1em; text-transform: uppercase; color: #fff; text-align: left;
}
#contacts p {
	color: #666666; text-align: left; font-size: 1em;
}

.social-icons {
/*	border-bottom: 1px solid #999; */
	padding-bottom: 44px;
	margin-top: 30px;
}

/* Styles for Specific for Desktop */
@media only screen and (min-width: 48em) {

	p{font-size: 1.1em;}
	
	.intro{margin-bottom: 6.25em; padding: 0 6%;
	}
	
	/* All Section Styles */
	
	section{padding-top: 6.25em;padding-bottom: 3.75em;}
	
	/* Header */
	
	#logo img{width:300px;}
	
	#intro{margin-top: 6.25em;
		padding-left: 2em;
		padding-right: 2em;
	}  
	#intro h1 {margin-top: 3.25em; margin-bottom: .25em;
		font-size: 3.2em; line-height: 1em; }
	#intro h2{font-size: 2.5em;}
	
	#explore{margin-top: 3em;}
	
	/* Navigation */
	
	#top-navigation ul{font-size: 1em;margin-bottom: inherit;float:right;}
	
	/* Logo */
	
	#logo-lettering{margin-top:2em;}
	#logo-lettering img {
		height: 50%; 	}
	/* Top Navigation */
	
	#top-bar{top:0px;height:3.75em;background:none;
	}
	#top-navigation{margin-top: 1em;}
	#top-navigation ul{display:inherit;}
	#top-navigation li{width:inherit;}
	
	/* Team */
	
	.member{margin-bottom: 0;min-height: inherit;}
	.member h5{font-size: 1.3125em;}
	.member p{font-size: 1em;}
	.member-photo{max-height: inherit;}
	
	.member ul.social li a{width:2em;height:2em;background-size: 2em;}
	
	/* Contacts */
	#contacts{padding-bottom: 0; background-color: #B3B3B3;
	}

	/* Project */
	
	#project-details{padding:5em 0;}
	#project-details #project-description{margin-bottom: 0;}
	#project-sidebar{text-align: right;}
	
	#project-top-bar{height:auto;}
	
	#next-project,#previous-project,#close-project,#next-project-name, #previous-project-name{position:fixed; z-index: 999;}
	#close-project{top:0.4125em; right:1.25em;width:1.5em;height:1.5em;background-size: 1.5em;}
	#next-project{top:18.75em; right:1.25em;}
	#previous-project{top:18.75em; left:1.25em;}
		
	#next-project-name, #previous-project-name{background-color:rgb(244,89,78);background-color:rgba(244,89,78,0.7);padding:0.5em 1em;opacity:0; display: inherit;color:white;}
	#next-project-name{top:19.1em; right:8em;}
	#previous-project-name{top:19.1em; left:8em;}
	
	#next-project-name h2,#previous-project-name h2{color:white;font-size: 0.8em; margin-bottom: 0;}
	
	#next-project, #previous-project, #close-project{opacity:0.6;-webkit-transition: opacity 0.3s ease-in-out;-moz-transition: opacity 0.3s ease-in-out;-o-transition: opacity 0.3s ease-in-out;transition: opacity 0.3s ease-in-out;}
	#next-project:hover,#previous-project:hover,#close-project:hover{opacity:1;}
	
}

@media screen and (max-width: 1024px) {
	#top-bar .large-4 {
		position: absolute;
	}
	.slick-next {
		display: none!important;
	}
}

@media screen and (max-width: 767px) {
	#top-bar .large-4 {
		position: relative;
		display: block;
		margin: .5em auto;
		text-align: center;
	}
	#contact-icons img {
		margin-left: 1em;
	}
	.intro-icons a {
		margin: 1em!important;
	}
	#getstarted a {
	display: block;
	width: 70%;
	height: 2.4em;
	font-size: 1.5em;
	}
	#getstarted a{
	margin: 2em auto!important;
	}
	.intro p{text-align: left;  
	}
	
}

/* Warning */
#intro {
	position: relative;
}

.intro__warning {
	position: absolute;
	display: inline-block;
	top: -7rem;
	left: 50%;

	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);


	padding: 0.4em 0.75em;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 2px;

	color: white;
	font-size: 14px;
	letter-spacing: 0.03em;
	font-weight: 300;
	-webkit-font-smoothing:antialiased;
	white-space: nowrap;

	box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

@media screen and (max-width: 518px) {
	.intro__warning {
		white-space: normal;
		width: 100%;
	}

#work-9 img, #work-15 img, #work-21 img {
	height: 1.2em!important;
}

#callout {
	text-align: center;
	color: #00adee;
	font-size: 1.25rem;
	font-weight: 100;
}

.slick-slide a img {
	width: 100%;
